params {

    input {
        FASTQ_PATH = "/home/chensm/nextflow-project/VarPhase/input-data"
        REF_FN = "/home/chensm/data/reference/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fna"
        OUTPUT_PATH = "/home/chensm/nextflow-project/VarPhase/output"
        DATA_TYPE = "hifi"
        ALIGNMENT_METHOD = "minimap2"
        SNV_CALL_METHOD = "clair3"
        THREADS = 20
        CONDA_PREFIX="$CONDA_PREFIX"
    }

    common {
        BAM_DIR_NAME = "bam"
        SAM_FILE_NAME = "alignment.sam"
        BAM_FILE_NAME = "alignment.bam"
        SORTED_BAM_FILE_NAME = "alignment_sorted.bam"

        HAPLOTAG_BAM_DIR_NAME = "haplotag_bam"

        BAM_SPLIT_BY_CHR_DIR_NAME = "bam_split_by_chr"
        VCF_SPLIT_BY_CHR_DIR_NAME = "vcf_split_by_chr"

        PHASED_VCF_DIR_NAME = "phased_vcf"

        PHASED_VCF_NAME = "phased.vcf"

        CLAIR3_VCF_NAME = "merge_output.vcf.gz"
    }

}

conda.enabled = true